.station-card {
	--detailsBtnOpacity: 0;

	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	height: 100%;
	padding: var(--station-card-padding);
	background-color: var(--color-card-bg);
	border-radius: var(--border-radius);
	text-align: center;
	cursor: pointer;
	transition-duration: var(--transition-duration);

	&:hover {
		--detailsBtnOpacity: 1;

		background-color: var(--color-card-bg-alt);
	}

	&.loading {
		animation: loading 1s infinite;
	}

	&.playing,
	&.loading {
		color: var(--color-text-accent);
		background-color: var(--color-bg-accent);

		&:hover {
			color: var(--color-text-accent);
			background-color: var(--color-bg-accent-alt);
		}
	}

	&.pause {
		color: var(--color-transparent-25);
		background-color: var(--color-transparent-25);

		&:hover {
			color: var(--color-transparent-30);
			background-color: var(--color-transparent-30);
		}
	}

	&.error {
		color: var(--color-text-error);
		background-color: var(--color-bg-error);
		animation: horizontal-shaking 1s;

		&:hover {
			color: var(--color-text-error);
			background-color: var(--color-bg-error-alt);
		}
	}

	&__name {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	&__track-title {
		padding-top: 2px;
		font-size: 0.8em;
		line-height: 1;
		opacity: 0.8;
	}
}
