.station-tooltip {
	position: absolute;
	animation: appearing 0.2s;

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 8px;
		width: 100%;
		margin-block: var(--station-card-padding);
		padding: var(--border-radius-small);
		color: var(--color-text);
		background-color: var(--color-card-bg);
		box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
		border-radius: var(--border-radius);
		cursor: default;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		overflow-y: auto;
		width: 100%;
		max-height: 80px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 3px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-transparent-25);
			border-radius: 3px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: var(--color-text);
		}

		& .button {
			width: 100%;
			margin-top: 8px;
			white-space: nowrap;
		}
	}

	&__arrow {
		position: absolute;
		align-self: center;
		clear: both;
		width: 0;
		height: 0;
		border-right: var(--station-card-padding) solid transparent;
		border-left: var(--station-card-padding) solid transparent;

		&--up {
			top: calc(-1 * var(--station-card-padding));
			border-bottom: var(--station-card-padding) solid var(--color-card-bg);
		}

		&--down {
			bottom: calc(-1 * var(--station-card-padding));
			border-top: var(--station-card-padding) solid var(--color-card-bg);
		}
	}
}
