root {
	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	text-rendering: optimizelegibility;
}

body {
	@include fluid-text(16, 14);

	place-items: center;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-weight: 400;
	font-family: var(--font-family-base);
	line-height: 1.28;
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	button:focus,
	button:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
		outline: none;
	}
}

input {
	height: var(--input-height);
	padding: 0.3em 1.2em;
	color: var(--color-text);
	background-color: var(--color-card-bg-alt);
	border: none;
	border-radius: var(--border-radius-small);

	@include hover {
		color: var(--color-text-accent);
		background-color: var(--color-bg-accent);
	}

	&:focus {
		color: var(--color-text-accent);
		background-color: var(--color-bg-accent);
		outline: none;
	}

	&::placeholder {
		color: var(--color-transparent-25);
		opacity: 1;
	}

	&:focus::placeholder {
		color: rgb(0 0 0 / 25%);
		opacity: 1;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	@include fluid-text(24, 18);

	font-weight: 500;
	line-height: 1;
}
