.badge {
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 2px 6px;
	background-color: var(--color-card-bg-alt);
	border-radius: var(--border-radius-tiny);
	font-size: 13px;
	line-height: 1;

	&--clickable {
		cursor: pointer;

		&:hover {
			background-color: var(--color-bg-accent-alt);
		}
	}

	&--invert {
		color: var(--color-card-bg);
		background-color: var(--color-text);
	}

	&--accent {
		color: var(--color-text-accent);
		background-color: var(--color-bg-accent-alt);
	}
}
